@font-face {
  font-family: 'font-regular';
  font-display: swap;
  font-weight: normal;
  src: url("../resources/font/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'font-italic';
  font-display: swap;
  font-weight: normal;
  src: url("../resources/font/Roboto-Italic.ttf"); }

@font-face {
  font-family: 'font-bold';
  font-display: swap;
  font-weight: normal;
  src: url("../resources/font/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'font-bold-italic';
  font-display: swap;
  font-weight: normal;
  src: url("../resources/font/Roboto-MediumItalic.ttf"); }

@font-face {
  font-family: 'font-light';
  font-display: swap;
  font-weight: normal;
  src: url("../resources/font/Roboto-Light.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: font-regular, serif; }

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%; }

body::-webkit-scrollbar {
  width: 8px; }

body::-webkit-scrollbar-thumb {
  background-color: #B28451;
  border-radius: 15px; }

.pf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #101d2c;
  height: inherit;
  width: 100%;
  color: #bb9366;
  position: relative; }

.pf-back-to-top {
  position: absolute;
  bottom: 20px;
  right: 20px; }
  @media screen and (max-width: 1200px) {
    .pf-back-to-top {
      bottom: 10px;
      right: 10px; } }
  @media screen and (max-width: 850px) {
    .pf-back-to-top {
      bottom: 5px;
      right: 5px; } }

.pf-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  z-index: 2;
  height: 48px;
  background-color: rgba(198, 153, 99, 0.9);
  position: fixed;
  top: 0; }
  .pf-header-menu {
    display: none; }
    @media screen and (max-width: 520px) {
      .pf-header-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end; } }
    .pf-header-menu-icon {
      color: #f9f7f6;
      margin-right: 10px; }
  .pf-header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none; }
    @media screen and (max-width: 520px) {
      .pf-header-list {
        display: none; } }
    .pf-header-list-item {
      font-family: font-light, serif;
      margin-right: 8px;
      cursor: pointer;
      color: #f9f7f6;
      text-decoration: none;
      padding: 2px; }
      .pf-header-list-item:hover {
        background-color: #B28451;
        color: #f9f7f6; }

.pf-header-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(198, 153, 99, 0.9); }
  .pf-header-menu-mobile-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: #f9f7f6; }
  .pf-header-menu-mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none; }
    .pf-header-menu-mobile-list-item {
      text-decoration: none;
      color: #f9f7f6;
      font-size: 24px;
      margin-bottom: 10px; }

.pf-hide {
  display: none; }

.pf-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(16, 29, 44, 0.5), #101d2c), url("../resources/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .pf-home-user-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover; }
    @media screen and (max-width: 850px) and (orientation: landscape) {
      .pf-home-user-img {
        width: 100px;
        height: 100px; } }
  .pf-home-line {
    border-bottom: 2px solid #c69963;
    width: 50%; }
  .pf-home-title {
    text-align: center;
    margin: 5px 0; }

.pf-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #091119;
  height: 48px;
  position: relative;
  width: 100%; }
  .pf-footer-icon {
    color: #c69963;
    font-size: 24px;
    margin-right: 5px; }
    .pf-footer-icon:hover {
      color: #B28451; }

.pf-skills {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  height: 80vh;
  perspective: 600px;
  padding-top: 40px; }
  @media screen and (max-width: 1200px) {
    .pf-skills {
      display: grid;
      grid-template-columns: repeat(2, 200px);
      grid-template-rows: auto;
      justify-items: center;
      justify-content: center;
      align-content: center;
      grid-gap: 15px;
      margin-bottom: 100px;
      height: 100vh; } }
  @media screen and (max-width: 850px) and (orientation: landscape) {
    .pf-skills {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      grid-template-rows: auto;
      justify-items: center;
      justify-content: center;
      align-content: center;
      grid-gap: 20px; } }
  @media screen and (max-width: 520px) {
    .pf-skills {
      display: grid;
      grid-template-columns: repeat(1, 200px);
      grid-template-rows: auto;
      justify-items: center;
      justify-content: center;
      align-content: center;
      grid-gap: 10px; } }
  .pf-skills-title {
    grid-column: 1/-1;
    margin-bottom: 10px; }
  .pf-skills-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;
    width: 200px;
    background-color: #f9f7f6;
    border-radius: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s; }
    @media screen and (max-width: 850px) and (orientation: landscape) {
      .pf-skills-card {
        height: 200px;
        width: 150px; } }
    @media screen and (max-width: 520px) {
      .pf-skills-card {
        height: 170px;
        width: 150px; } }
    .pf-skills-card-face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden; }
      .pf-skills-card-face-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 10px 3px #54483A; }
      .pf-skills-card-face-flip-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px; }
      .pf-skills-card-face-logo {
        font-size: 64px;
        margin-bottom: 5px; }
        @media screen and (max-width: 520px) {
          .pf-skills-card-face-logo {
            font-size: 32px; } }
      .pf-skills-card-face-progressbar {
        background-color: #6D5D4B;
        border-radius: 13px;
        padding: 3px;
        width: 80%; }
        .pf-skills-card-face-progressbar-procent {
          background-color: #c69963;
          height: 15px;
          border-radius: 10px; }
          .pf-skills-card-face-progressbar-procent-html {
            width: 60%; }
          .pf-skills-card-face-progressbar-procent-css {
            width: 60%; }
          .pf-skills-card-face-progressbar-procent-sass {
            width: 40%; }
          .pf-skills-card-face-progressbar-procent-js {
            width: 20%; }
      .pf-skills-card-face-back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotateY(180deg);
        box-shadow: 5px 10px 3px #54483A; }
        .pf-skills-card-face-back-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 80%; }
          @media screen and (max-width: 520px) {
            .pf-skills-card-face-back-text {
              font-size: 14px; } }

.pf-skills-card-is-flipped {
  transform: translateX(-100%) rotateY(-180deg); }

.pf-education {
  padding-top: 40px; }
  .pf-education-card-img {
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%; }
    @media screen and (max-width: 850px) {
      .pf-education-card-img {
        height: 120px; } }
    .pf-education-card-img-school {
      background-image: url("../resources/img/school.jpg"); }
    .pf-education-card-img-high-school {
      background-image: url("../resources/img/school-1.jpg"); }
    .pf-education-card-img-course {
      background-image: url("../resources/img/course.jpg"); }
  .pf-education-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    height: 100px;
    color: #f9f7f6; }

.pf-works {
  padding-top: 40px;
  margin-bottom: 100px; }
  .pf-works-card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 90%;
    color: #f9f7f6;
    width: 90%; }
    @media screen and (max-width: 850px) {
      .pf-works-card-description {
        font-size: 13px; } }
    .pf-works-card-description-date {
      margin: 10px 0;
      color: #101d2c;
      font-size: 19px;
      font-family: font-bold, serif; }
      @media screen and (max-width: 850px) {
        .pf-works-card-description-date {
          margin: 5px;
          font-size: 16px; } }
      @media screen and (max-width: 520px) {
        .pf-works-card-description-date {
          font-size: 15px; } }
    .pf-works-card-description-company {
      font-family: 'font-bold-italic';
      color: #101d2c; }
    .pf-works-card-description-job {
      font-family: 'font-italic';
      font-size: 15px; }
      @media screen and (max-width: 850px) and (orientation: landscape) {
        .pf-works-card-description-job {
          font-size: 13px; } }

.pf-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  width: 800px;
  background-color: #091119;
  margin-bottom: 50px; }
  @media screen and (max-width: 850px) {
    .pf-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 500px; } }
  @media screen and (max-width: 520px) {
    .pf-form {
      width: 360px; } }
  .pf-form-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 240px; }
    @media screen and (max-width: 850px) {
      .pf-form-icon {
        font-size: 160px;
        width: 100%; } }
    @media screen and (max-width: 520px) {
      .pf-form-icon {
        font-size: 128px; } }
  .pf-form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; }
    @media screen and (max-width: 850px) {
      .pf-form-contact {
        width: 100%; } }
    .pf-form-contact-me {
      margin-bottom: 10px; }

.pf-btn {
  background-color: #B28451;
  padding: 2px 5px;
  border: none;
  border-radius: 30px;
  height: 40px;
  color: #54483A;
  width: 150px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px; }
  .pf-btn-shadow {
    box-shadow: 3px 5px 3px #54483A; }
  .pf-btn:active {
    transform: translateY(2px);
    transition: transform .1s; }
  .pf-btn:hover, .pf-btn:focus {
    background-color: #ba9063;
    color: #54483A; }

.pf-road-map {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 0;
  margin-top: 50px;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .pf-road-map {
      display: grid;
      grid-template-columns: repeat(3, 250px);
      grid-template-rows: auto;
      justify-items: center;
      justify-content: center;
      align-content: center;
      grid-gap: 0; } }
  @media screen and (max-width: 850px) {
    .pf-road-map {
      display: grid;
      grid-template-columns: repeat(1, 200px);
      grid-template-rows: auto;
      justify-items: center;
      justify-content: center;
      align-content: center;
      grid-gap: 20px; } }
  .pf-road-map-line {
    height: 100%;
    width: 5px;
    background-color: #B28451;
    position: absolute; }
  .pf-road-map-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #B28451;
    color: #6D5D4B;
    width: 100%;
    height: 250px;
    position: relative; }
    .pf-road-map-card:nth-child(2) {
      margin-top: 0; }
      @media screen and (max-width: 850px) {
        .pf-road-map-card:nth-child(2) {
          margin-top: 20px; } }
    .pf-road-map-card-left {
      border-right: 3px solid #f9f7f6;
      grid-column: 1/2;
      align-self: center; }
      .pf-road-map-card-left:not(:last-child) {
        margin-bottom: 250px; }
        @media screen and (max-width: 850px) {
          .pf-road-map-card-left:not(:last-child) {
            margin-bottom: 0; } }
      .pf-road-map-card-left::after {
        content: '';
        height: 3px;
        background-color: #B28451;
        width: 50%;
        position: absolute;
        top: 50%;
        right: -50%; }
        @media screen and (max-width: 850px) {
          .pf-road-map-card-left::after {
            right: 0;
            z-index: -1; } }
      @media screen and (max-width: 850px) {
        .pf-road-map-card-left {
          grid-column: 1/-1;
          margin-bottom: 0; }
          .pf-road-map-card-left:last-child {
            margin-bottom: 20px; } }
    .pf-road-map-card-right {
      grid-column: 3/4;
      margin-top: 250px;
      border-left: 3px solid #f9f7f6; }
      .pf-road-map-card-right::after {
        content: '';
        height: 3px;
        background-color: #B28451;
        width: 50%;
        position: absolute;
        top: 50%;
        left: -50%; }
        @media screen and (max-width: 850px) {
          .pf-road-map-card-right::after {
            left: 0;
            z-index: -1; } }
      @media screen and (max-width: 850px) {
        .pf-road-map-card-right {
          grid-column: 1/-1;
          margin-top: 0; }
          .pf-road-map-card-right:last-child {
            margin-bottom: 20px; } }

.pf-input {
  height: 32px;
  width: 250px;
  border-radius: 30px;
  border: none;
  margin-bottom: 10px; }
  @media screen and (max-width: 850px) {
    .pf-input {
      height: 24px; } }
  .pf-input::placeholder {
    padding-left: 10px; }

.pf-textarea {
  padding-left: 10px;
  padding-top: 5px;
  width: 250px;
  height: 100px;
  border-radius: 20px;
  max-width: 250px; }
  @media screen and (max-width: 850px) {
    .pf-textarea {
      height: 90px; } }
