.#{$prefix}form{
    @include flex(row, center, space-between);
    height: 500px;
    width: 800px;
    background-color: darken($color-secondary, 5);
    margin-bottom: 50px;

    @media screen and(max-width: $media-query-medium){
        @include flex(column , center, center);
        width: 500px;
    }

    @media screen and(max-width: $media-query-small){
        width: 360px;
    }

    &-icon{
        @include flex(row, center, center);
        width: 50%;
        font-size: 240px;
    
        @media screen and(max-width: $media-query-medium){
            font-size: 160px;
            width: 100%;
        }
        
        @media screen and(max-width: $media-query-small){
            font-size: 128px;
        }
    }

    &-contact {
        @include flex(column, center, center);
        width: 50%;

        @media screen and(max-width: $media-query-medium){
            width: 100%;
        }

        &-me {
            margin-bottom: 10px;
        }
    }
}