.#{$prefix}education{
    padding-top: 40px;

    &-card{
        &-img {
            background-size: cover;
            background-position: center;
            height: 150px;
            width: 100%;

            @media screen and (max-width: $media-query-medium){
                height: 120px;
            }

            &-school{
                background-image: url("#{$img-path}school.jpg");
            }
            
            &-high-school{
                background-image: url("#{$img-path}school-1.jpg");
            }
            &-course {
                background-image: url("#{$img-path}course.jpg");
            }
        }

        &-description {
            @include flex(column, flex-start, center);
            width: 90%;
            height: 100px;
            color: $color-grey-light-1;
        }
    }
}

