.#{$prefix}footer {
    @include flex(row, center,center); 
    background-color: darken($color-secondary, 5);
    height: 48px;
    position: relative;
    width: 100%;

    &-icon {
        color: $color-primary;
        font-size: 24px;
        margin-right: 5px;

        &:hover{
            color: $color-primary-dark;
        }
    }
}