.#{$prefix}header {
    @include flex(row, center,flex-end); 
    width: 100%;
    z-index: 2;
    height: 48px;
    background-color: rgba($color-primary, .9);
    position: fixed;
    top: 0;
    

    &-menu{
        display: none;

        @media screen and(max-width: $media-query-small){
            @include flex(row, center,flex-end); 
        }

        &-icon{
            color: $color-grey-light-1;  
            margin-right: 10px
        }
    }

    &-list {
        @include flex(row, center,flex-end);
        list-style: none;
        
        @media screen and(max-width: $media-query-small){
            display: none;
        }
        &-item{
            font-family:  font-light, serif;
            margin-right: 8px;
            cursor: pointer;
            color: $color-grey-light-1;
            text-decoration: none;
            padding: 2px;

            &:hover{
                background-color: $color-primary-dark;
                color: $color-grey-light-1;
            }
        }
    }
}

.#{$prefix}header-menu-mobile{
    @include flex(column, center, center);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba($color-primary, .9);

    &-close {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 24px;
        color: $color-grey-light-1;
    }

    &-list{
        @include flex(column, center, center);
        list-style: none;
        
        &-item{
            text-decoration: none;
            color:$color-grey-light-1;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}

.#{$prefix}hide{
    display: none;
}