.#{$prefix}home{
    @include flex(column,center, center);
    width: 100%;
    height:100vh;
    background-image: linear-gradient(to bottom, rgba($color-secondary,0.5),
    rgba($color-secondary,1)), url("#{$img-path}background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &-user-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
    
        @media screen and (max-width: $media-query-medium) and(orientation: landscape){
            width: 100px;
            height: 100px;
        }
    }

    &-line {
        border-bottom: 2px solid $color-primary;
        width: 50%;
    }

    &-title{
        text-align: center;
        margin: 5px 0;
    }
}