.#{$prefix}skills {
    @include grid(4, 200px, 20px);
    height: 80vh;
    perspective: 600px;
    padding-top: 40px;

    @media screen and(max-width: $media-query-large){
        @include grid(2, 200px, 15px);
        margin-bottom: 100px;
        height: 100vh;
    }

    @media screen and (max-width: $media-query-medium) and(orientation: landscape){
        @include grid(4, 150px, 20px);
    }

    @media screen and(max-width: $media-query-small){
        @include grid(1, 200px, 10px);
    }


    &-title {
        grid-column: 1/-1;
        margin-bottom: 10px; 
    }

    &-card{  
        @include flex(row, center, center);
        position: relative;
        height: 300px;
        width: 200px;
        background-color: $color-grey-light-1;
        border-radius: 5px;
        cursor: pointer;
        transform-style: preserve-3d;
        transform-origin: center right;
        transition: transform 1s;

        @media screen and (max-width: $media-query-medium) and(orientation: landscape){
            height: 200px;
            width: 150px;
        }

        @media screen and(max-width: $media-query-small){
            height: 170px;
            width: 150px;
        }

        &-face{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            
            &-front{
                @include flex(column, center, center);
                box-shadow: 5px 10px 3px $color-grey-dark-1;
            }

            &-flip-icon{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 24px;
            }

            &-logo{
                font-size: 64px;
                margin-bottom: 5px;

                @media screen and(max-width: $media-query-small){
                    font-size: 32px;
                }
            }

            &-progressbar {
                background-color: $color-grey-dark-2;
                border-radius: 13px;
                padding: 3px;
                width: 80%;
                
                &-procent {
                    background-color: $color-primary;
                    height: 15px;
                    border-radius: 10px;

                    &-html{
                        width: 60%;
                    }
                    &-css{
                        width: 60%;
                    }
                    &-sass{
                        width: 40%;
                    }
                    &-js{
                        width: 20%
                    }
                }
            }

            &-back {
                @include flex(column, center, center);
                transform: rotateY(180deg);
                box-shadow: 5px 10px 3px $color-grey-dark-1;

                &-text {
                    @include flex(column, center, center);
                    text-align: center;
                    width: 80%;

                    @media screen and(max-width: $media-query-small){
                        font-size: 14px;
                    }
                }
            }
        }  
    }
}

.#{$prefix}skills-card-is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}


