.#{$prefix}works {
    padding-top: 40px;
    margin-bottom: 100px;

    &-card{

        &-description{
            @include flex(column, flex-start, center);
            height: 90%;
            color: $color-grey-light-1;
            width: 90%;
            
    
            @media screen and (max-width: $media-query-medium){
                font-size: 13px;
            }
    
            &-date {
                margin: 10px 0;
                color: $color-secondary;
                font-size: 19px;
                font-family: font-bold, serif;
    
                @media screen and (max-width: $media-query-medium){
                    margin: 5px;
                    font-size: 16px;
                }
    
                @media screen and (max-width: $media-query-small){
                    font-size: 15px;
                }
            }

            &-company {
                font-family: 'font-bold-italic';
                color: $color-secondary;
            }

            &-job{
                font-family: 'font-italic';
                font-size: 15px;
                
                @media screen and (max-width: $media-query-medium) and (orientation:landscape){
                    font-size: 13px;
                }
            }
        }
    }
}
