/// Input border-radius
/// @group Input
$input-border-radius: 30px !default;

/// Input height
/// @group Input
$input-height: 32px !default;

/// Input width
/// @group Input
$input-width: 250px !default;

/// Input textarea
/// @group Input
$textarea-border-radius: 20px !default;

/// Textarea height
/// @group Input
$textarea-height: 100px !default;
