.#{$prefix}input {
    height: $input-height;
    width: $input-width;
    border-radius: $input-border-radius;
    border:none;
    margin-bottom: 10px;

    @media screen and(max-width: $media-query-medium){
        height: 24px;
    }

    &::placeholder{
        padding-left: 10px;
    }
}

.#{$prefix}textarea {
    padding-left: 10px;
    padding-top: 5px;
    width: $input-width;
    height: $textarea-height;
    border-radius: $textarea-border-radius;
    max-width: 250px;

    @media screen and(max-width:$media-query-medium){
        height: 90px;

    }
}