/// Mixin for horizontal line
///@group road-map
@mixin createHorizontalLine($left: true) {
    content: '';
    height: 3px;
    background-color: $color-primary-dark;
    width: 50%;
    position: absolute;
    top:50%;
    
    @if $left {
        right: -50%;
    }

    @else {
        left: -50%;
    }
}

.#{$prefix}road-map {
    @include grid(3, 300px, 0);
    margin-top: 50px;
    position: relative;
  
    @media screen and(max-width: $media-query-large){
        @include grid(3, 250px, 0);
    }

    @media screen and(max-width: $media-query-medium){
        @include grid(1, 200px, 20px);
    }

 
    &-line {
        height: 100%;
        width: 5px;
        background-color: $road-map-line-color;
        position: absolute;
    }

    &-card{
        @include flex(column, center, flex-start);
        background-color: $road-map-bg-color;
        color: $color-grey-dark-2;
        width: 100%;
        height: 250px;
        position: relative;

        &:nth-child(2){
            margin-top: 0;

            @media screen and(max-width: $media-query-medium) {
                margin-top: 20px;
            }
        }

        &-left{
            border-right: 3px solid $road-map-border;
            grid-column: 1/2;
            align-self: center;
            
            &:not(:last-child){
                margin-bottom: 250px;

                @media screen and(max-width: $media-query-medium) {
                    margin-bottom: 0;
                }
            }
            
            &::after{
                @include createHorizontalLine($left: true);

                @media screen and(max-width: $media-query-medium){
                  right: 0;
                  z-index: -1;
                }
            }

            @media screen and(max-width: $media-query-medium){
                grid-column: 1/-1;
                margin-bottom: 0;

                &:last-child{
                    margin-bottom: 20px;
                }
            }
        }

        &-right {
            grid-column: 3/4;
            margin-top: 250px;
            border-left: 3px solid $road-map-border;

            &::after{
                @include createHorizontalLine($left: false);

                @media screen and(max-width: $media-query-medium){
                    left: 0;
                    z-index: -1;
                }
            }

            @media screen and(max-width: $media-query-medium){
                grid-column: 1/-1;
                margin-top: 0;
                
                &:last-child{
                    margin-bottom: 20px;
                }
            }
        }
    }
}
