/// Road-map color
/// @group road-map
$road-map-border: $color-grey-light-1 !default; 

/// Road-map background color
/// @group road-map
$road-map-bg-color: $color-primary-dark !default;

/// Road-map line color
/// @group road-map
$road-map-line-color: $color-primary-dark !default;