/// Mixin for display flex
/// @param {row | row-reverse | column | column-reverse} $direction - Specifies how flex items are placed in the flex container, by setting the direction of the flex container’s main axis.
/// @param {stretch | flex-start | flex-end | center | baseline} $align - Aligns flex items along the cross axis of the current line of the flex container.
/// @param {flex-start | flex-end | center | space-between | space-around | space-evenly} $justify - Aligns flex items along the main axis of the current line of the flex container.
@mixin flex($direction,$align,$justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

/// Mixin for display grid
/// @param {Number} $col - Number of columns
/// @param {Number} $width - Width of each column
/// @param {Number} $gap - Width of the gutters between the columns/rows.
@mixin grid($col,$width,$gap) {
    display: grid;
    grid-template-columns: repeat($col, $width);
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    align-content: center;
    grid-gap: $gap;
}



@font-face {
    font-family: 'font-regular';
    font-display: swap;
    font-weight: normal;
    src: url('#{$font-path}Roboto-Regular.ttf');
}
  
@font-face {
    font-family: 'font-italic';
    font-display: swap;
    font-weight: normal;
    src: url('#{$font-path}Roboto-Italic.ttf');
}
  
@font-face {
    font-family: 'font-bold';
    font-display: swap;
    font-weight: normal;
    src: url('#{$font-path}Roboto-Medium.ttf');
}
  
@font-face {
    font-family: 'font-bold-italic';
    font-display: swap;
    font-weight: normal;
    src: url('#{$font-path}Roboto-MediumItalic.ttf');
}
  
@font-face {
    font-family: 'font-light';
    font-display: swap;
    font-weight: normal;
    src: url('#{$font-path}Roboto-Light.ttf');
}
  