/// Global prefix
///@group Site-configuration
$prefix: pf-;

/// Path for images
///@group Site-configuration
$img-path: "../resources/img/";

///Path for fonts
///@group Site-configuration
$font-path: "../resources/font/";

/// Color variables
/// Color-primary
///@group Site-configuration
$color-primary: #c69963;
/// Color-primary-dark
///@group Site-configuration
$color-primary-dark: #B28451;
/// Color-secondary
///@group Site-configuration
$color-secondary: #101d2c;
/// Color-grey-light-1
///@group Site-configuration
$color-grey-light-1: #f9f7f6;
/// Color-grey-light-2
///@group Site-configuration
$color-grey-light-2: #aaa;
/// Color-grey-dark-1
///@group Site-configuration
$color-grey-dark-1: #54483A;
/// Color-grey-light-2
///@group Site-configuration
$color-grey-dark-2: #6D5D4B;

///Breakpoints for media query
/// Media-query large
///@group Site-configuration
$media-query-large: 1200px;
/// Media-query medium
///@group Site-configuration
$media-query-medium: 850px;
/// Media-query medium-small
///@group Site-configuration
$media-query-medium-small: 800px;
/// Media-query small
///@group Site-configuration
$media-query-small: 520px;