* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  font-regular, serif;
}

html{
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-primary-dark;
  border-radius: 15px;
}

.#{$prefix}container {
  @include flex(column, center, center);
  background-color: $color-secondary;
  height: inherit;
  width: 100%;
  color: lighten($color-primary-dark, 6);
  position: relative;
}

.#{$prefix}back-to-top{
  position: absolute;
  bottom: 20px;
  right: 20px;

  @media screen and(max-width: $media-query-large) {
    bottom: 10px;
    right: 10px;
  }

  @media screen and(max-width: $media-query-medium) {
    bottom: 5px;
    right: 5px;
  }
}