/// Button shadow 
/// @group Button
$button-shadow: 3px 5px 3px $color-grey-dark-1 !default;

/// Button background-color 
/// @group Button
$button-bg-color: $color-primary-dark !default;

/// Button text-color
/// @group Button
$button-color: $color-grey-dark-1 !default;

/// Button width
/// @group Button
$button-width: 150px !default;


/// Button border-radius
/// @group Button
$button-border-radius: 30px !default;