.#{$prefix}btn{
    background-color: $button-bg-color;
    padding: 2px 5px;
    border: none;
    border-radius: $button-border-radius;
    height: 40px;
    color: $button-color;
    width: $button-width;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;

    &-shadow{
        box-shadow: $button-shadow;
    }
    
    &:active{
        transform: translateY(2px);
        transition: transform .1s;
    }
    &:hover,
    &:focus {
        background-color: lighten($button-bg-color,5);
        color: $button-color;
    }
}